<div id="hp_intro"><%= @page_title%></div>

<div id="third_menu_not_in_list">
  <%= render :partial => "shared/menu", :locals => { :show_third => true } %>
</div>

<p>

<% if not @activities %>
	<%= t('activities.empty')%>
<% else %>

	<%= will_paginate(@activities) %>
	<p>
	<div id="activities">
	<% for activity in @activities %>
		<%= render :partial => "activities/show", :locals => {:activity => activity, :suffix => ""} %>
	<% end %>
	</div>
	<p>
	<%= will_paginate(@activities) %>
	
<% end %>

