<div id="hp_intro"><%= @page_title %></div>

<%= error_messages_for :user %>

<% form_for(:user, :url => password_path(@user), :html => { :method => :put }) do |f| %>

<%= f.password_field :password %></p>

<%# FIXME: Cannot confirm, doesn't validate because of should_validate_password? in user.rb %>
<!-- <p><label for="password_confirmation"><%= t('passwords.new.confirm.label')%></label><br/>
<%#= f.password_field :password_confirmation %></p> -->

<p><%= f.submit t('passwords.change.submit_first_time'), :class => "yellow_button" %></p>
<% end %>
