<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title><%= @page_title || current_government.name_with_tagline %></title>
  <%= render :partial => "shared/description" %>
  <%= render :partial => "shared/head" %>
  <%= render :partial => "shared/javascripts" %>
  <%= render :partial => "shared/css" %>
  <%= render :partial => "color_schemes/css", :locals => {:id => current_government.color_scheme_id } %>
</head>
<body>

<div id="page" class="narrow">
  <div id="backgroundwrap" align="center">
    <div id="contentwrap">
      <div id="content_text">
        <div style="text-align:center"><div id="blurb_header" class="blurb"><h1><%= link_to(image_tag(current_government.logo.url(:original), :border => 0), "/") %></h1></div></div>
        <%= flash_div :warning, :notice, :error %>
        <%= yield %>
      </div>
    </div>
  </div>
</div>

</body>
</html>